<!-- Footer -->
<footer class="bg-white pt-8 pb-2 px-8 mt-auto w-auto bg-opacity-80">
    <div class="container mb-3 pb-3 text-black">
        <div class="grid place-items-center overflow-auto grid-cols-2 gap-y-4 sm:grid-cols-4">
            <!-- logo -->
            <div class="shadow-2xl">
                <img class="w-48 rounded-xl h-auto hover:grayscale-0 transition duration-300" src="assets/images/company-logo.png" alt="Logo">
            </div>
            
            <!-- Categories -->
            <div>
                <h3 class="text-lg font-bold mb-2">Categories</h3>
                <ul>
                    <li><a href="#" class="hover:text-gray-400"><mat-icon>library_books</mat-icon>BOOKS</a></li>
                    <li><a href="#" class="hover:text-gray-400"><mat-icon>movie</mat-icon>MOVIES</a></li>
                    <li><a href="#" class="hover:text-gray-400"><mat-icon> place</mat-icon>PLACE</a></li>
                </ul>
            </div>

            <!-- contact -->
            <div>
                <h3 class="text-lg font-bold mb-2"><mat-icon>contact_support</mat-icon>Contact_Support</h3>
                <ul>
                    <li><a href="#" class="hover:text-gray-400"><mat-icon>mail</mat-icon>Gmail</a></li>
                    <li><a href="#" class="hover:text-gray-400"><mat-icon> message</mat-icon>Message</a></li>
                    <li><a href="#" class="hover:text-gray-400"><mat-icon>call</mat-icon>Talk to us</a></li>
                </ul>
            </div>
            <!-- Address -->
            <div>
                <h3 class="text-lg font-bold mb-2 "><mat-icon> business</mat-icon>Office</h3>
                <div class="hover:text-gray-400">
                    <p>34/1, Samarth Tech Park</p>
                    <p>Baner, Maharashtra, 411045</p>
                    <p>India</p>
                </div>
                
            </div>
        </div>
    </div>
    <hr class="border-black border-solid border-t-2">
    <p class="text-center text-black font-semibold mt-2">&copy; 2024 Your Website. All Rights Reserved.</p>
  </footer>