<div class="bg-gray-100" style="background-image: url(assets/images/bg-img.jpg);">
    <div class="px-6 py-4 flex justify-between items-start relative">
        <button class="btn" (click)="back()"><mat-icon>arrow_back</mat-icon></button>
    </div>
    <div class="container mx-auto py-12">
        <div class="flex items-center justify-center shadow shadow-gray-200 mb-10">
            <h1 class="text-3xl font-semibold text-center text-black rounded-lg bg-gray-200 w-4/5 p-4">Founders</h1>
        </div>
       
        <div class="flex flex-wrap justify-center">
            <!-- Founder Member 1 -->
            <div class="w-64 mx-4 my-4 opacity-80 bg-white rounded-lg shadow-xl overflow-hidden">
                <div class="gradient-bg p-4 flex items-center justify-center">
                    <img src="assets/images/CEO.jpg" alt="Founder 1" class="founder-img rounded-full border-4 border-white">
                </div>
                <div class="p-4">
                    <h2 class="text-xl font-semibold font-serif text-gray-800">Sanket Chavan</h2>
                    <p class="text-gray-600">CEO</p>
                    <p class="text-gray-700 mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>

            <!-- Founder Member 2 -->
            <div class="w-64 mx-4 my-4 opacity-80 bg-white rounded-lg shadow-xl overflow-hidden">
                <div class="gradient-bg p-4 flex items-center justify-center">
                    <img src="assets/images/CTO.jpg" alt="Founder 2" class="founder-img rounded-full border-4 border-white">
                </div>
                <div class="p-4">
                    <h2 class="text-xl font-semibold font-serif text-gray-800">Omkar Kancharlawar</h2>
                    <p class="text-gray-600">CTO</p>
                    <p class="text-gray-700 mt-4">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                </div>
            </div>

            <!-- Founder Member 3 -->
            <div class="w-64 mx-4 my-4 opacity-80 bg-white rounded-lg shadow-xl overflow-hidden">
                <div class="gradient-bg p-4 flex items-center justify-center">
                    <img src="assets/images/COO.jpg" alt="Founder 3" class="founder-img rounded-full border-4 border-white">
                </div>
                <div class="p-4">
                    <h2 class="text-xl font-semibold font-serif text-gray-800">Vasim Pathan</h2>
                    <p class="text-gray-600">COO</p>
                    <p class="text-gray-700 mt-4">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                </div>
            </div>
        </div>
        <!-- Company Aim Section -->
        <div class="flex flex-wrap opacity-80 justify-center mt-12">
            <div class="w-1/2 mx-4 my-4 bg-white rounded-lg shadow-md overflow-hidden">
                <div class="gradient-bg p-4">
                    <h2 class="text-2xl font-semibold text-white mb-4">Our Aim</h2>
                    <p class="text-gray-200">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus euismod ligula sed mauris tincidunt, eu consequat risus congue. Curabitur pharetra eros quam, in rutrum leo cursus nec. Fusce tincidunt vehicula orci vel varius.</p>
                </div>
            </div>
        </div>
    </div>
</div>