.card :hover {
  transition: filter;
}

.card.blurred {
  filter: blur(1px);
}

.bodycontainer{
  background-image: url('../../assets/images/bg-img.jpg');
  opacity : 1.0;
}

.star-rating {
  display: block;
  font-size: 24px; /* Adjust size as needed */
  color: #cdae0b; /* Color of filled stars */
}

ngb-rating{
  cursor: pointer;
  border: 1px solid #ccc; /* Border color */
  padding: 2px; /* Adjust padding as needed */
}