<div class=" flex justify-center items-center h-screen" style="background-image: url(assets/images/bg-img.jpg);">
    <div class="bg-gray-100 p-8 rounded-lg shadow-lg w-96 opacity-80">
        <h2 class="text-2xl text-black font-semibold  font-serif mb-6 underline">Add New Item for Review</h2>
        <div id="additemForm">
            <div class="mb-4">
                <label for="itemName" class="block text-sm font-medium text-black">Name of Item:</label>
                <input type="text" id="itemName" name="itemName" placeholder="Enter Name of Item..."
                    class="mt-1 p-2 block w-full border-gray-300 rounded-md text-black focus:ring-blue-500 focus:border-blue-500 shadow shadow-black" [(ngModel)]="itemname">
            </div>
            <div class="mb-4">
                <label for="category" class="block text-sm font-medium text-black">Category:</label>
                <select id="category" name="category"
                    class="mt-1 p-2 block w-full border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500 shadow shadow-black" [(ngModel)]="itemcategory">
                    <option disabled selected>Select a category</option>
                    <option value="book">Book</option>
                    <option value="place">Place</option>
                    <option value="movie">Movie</option>
                </select>
            </div>
            <div class="mb-4">
                <label for="description" class="block text-sm font-medium text-black">Description:</label>
                <textarea id="description" name="description" placeholder="Description of Item here..." rows="4"
                    class=" text-black mt-1 p-2 block w-full border-gray-300 rounded-md focus:ring-blue-500 focus:border-blue-500 shadow shadow-black" [(ngModel)]="itemdescription"></textarea>
            </div>
            <div>
                <button type="button"
                    class="w-full x-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600" (click)="addItem()">Submit</button>
            </div>
        </div>
    </div>
</div>