
<div *ngIf="signup" class="bg-gray-200 flex justify-center items-center h-screen opacity-80" style="background-image: url(assets/images/bg-img.jpg);">
    <div class="fixed top-3 left-3">
        <button class="btn" (click)="back()">back</button>
    </div>
    <div class="bg-white p-8 rounded shadow-md w-80">
        <h2 class="text-2xl font-semibold mb-4">Sign Up</h2>
        <div>
            <div class="mb-4">
                <label for="username" class="block text-gray-700 font-semibold mb-2">Username</label>
                <input type="text" id="username" placeholder="Enter Username..." name="username" [(ngModel)]="username"
                    class="w-full border border-gray-300 px-3 py-2 rounded-sm focus:border-blue-500 shadow shadow-black">
            </div>
            <div class="mb-4">
                <label for="email" class="block text-gray-700 font-semibold mb-2">Email</label>
                <input type="email" id="email" name="email" placeholder="Enter Email..." [(ngModel)]="email"
                    class="w-full border border-gray-300 px-3 py-2 rounded-sm focus:border-blue-500 shadow shadow-black">
            </div>
            <div class="mb-6">
                <label for="password" class="block text-gray-700 font-semibold mb-2">Password</label>
                <input type="password" id="password" name="password" placeholder="Enter Password..."
                    [(ngModel)]="password"
                    class="w-full border border-gray-300 px-3 py-2 rounded-sm focus:border-blue-500 shadow shadow-black">
            </div>
            <button
                class="bg-blue-500 text-white font-semibold px-4 py-2 w-full rounded-sm hover:bg-blue-600 focus:bg-blue-600 shadow-md"
                (click)="addUser()">
                Sign Up
            </button>
        </div>
        <div class="mt-4 text-center">
            <p class="text-gray-700">Already have an account? <button
                    class="text-blue-500 font-semibold hover:underline" (click)="gotologin()">Sign in</button></p>
        </div>
    </div>
</div>

<div *ngIf="userAdded && !signup" class="bg-gray-300 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-md">
        <h1 class="text-2xl font-semibold mb-4">User Added Succesfully....</h1>
    </div>
</div>

<div *ngIf="!userAdded && !signup" class="bg-gray-300 flex items-center justify-center h-screen">
    <div class="bg-white p-8 rounded-lg shadow-md">
        <h1 class="text-2xl font-semibold mb-4">Try After Some Time....</h1>
    </div>
</div>